/* You can add global styles to this file, and also import other style files */
$primary:      rgb(31, 97, 141) ;
$secondary: rgb(127, 179, 213 );
$light : rgb(214, 234, 248 );




@import '../node_modules/bootstrap/scss/bootstrap.scss';