<h3>Liste des objects</h3>

<div class="mb-3">
    <label class="form-label">Recherche</label>
    <input class="form-control" #searchText>
</div>
<div class="mb-3">
    <button class="btn btn-primary" (click)="rechercher(searchText.value)">Rechercher</button>
    <button class="btn btn-secondary" routerLink="/create-object" >Création</button>
</div>

<!-- <div class="list-group">
    <div *ngFor="let r of results" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{r.label}}</div>
            {{r.description + "..."}}
        </div>
        <span class="badge bg-primary rounded-pill">{{r.description}}</span>
    </div>
</div> -->

<app-list-search-result *ngIf="results" (searchResultClick)="showObject($event)"
  [searchResults]="results"></app-list-search-result>