@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Accueil de l'application</h1>
    <a href="http://localhost:5088/object">Object</a>
    <a href="http://localhost:5088/user">User</a>
    
</div>